.buy-button {
  width: 50%;
  margin: auto;
  height: 50%;
  min-height: 24px;
}
.grid-item {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  min-height: 24px;
}

@media (orientation: portrait) {
  .grid-item {
    font-size: 16px;
  }
}
